<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Giỏ hàng</title>

<!-- css -->
<!-- <link rel="stylesheet" href="/LAYOUT/CSS/cart-page.css"> -->
<!-- <link rel="stylesheet" href="/LAYOUT/CSS/navbar.css"> -->

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
	integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}">
<!-- <link rel="stylesheet" type="text/css" th:href="@{/css/login-form.css}"> -->
<link rel="stylesheet" type="text/css" th:href="@{/css/cart-page.css}">

<!-- js -->
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
	integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- <script type="text/javascript" th:src="@{/js/cart-page.js}"></script>
	<script type="text/javascript" th:src="@{/js/login.js}"></script> -->
<script src="https://kit.fontawesome.com/c39bd3b109.js"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>

<body>
	<form th:action="@{/cart}" method="post" th:object="${order}">
		<div class="body-container">
			<div class="top-bar">
				<div class="container-fluid">
					<div class="d-flex justify-content-between">
						<div>
							<ul class="topbar-left p-2">
								<li><span><i class="fa-solid fa-phone-volume"></i>Hotline:
										19009191</span></li>
							</ul>
						</div>
						<div>
							<ul class="topbar-right d-flex justify-content-end">
								<li class="p-2" th:unless="${session.username} == null"><a
									th:href="@{/check-order}"><span>Tra cứu đơn hàng</span></a></li>
								<li class="p-2" th:if="${session.username} == null"><a
									th:href="@{/login}"><span>Tra cứu đơn hàng</span></a></li>
								<li class="p-2 " th:if="${session.username} == null"><a
									th:href="@{/login}"><i class="fa-solid fa-user"></i><span>Đăng
											nhập</span></a></li>
								<li class="p-2 admin-menu"
									th:unless="${session.username} == null"><a><i
										class="fa-solid fa-user"></i><span
										th:text="${session.username}"></span></a></li>
								<li class="p-2"><a th:href="@{/cart}"><i
										class="fa-solid fa-cart-shopping"></i><span>Giỏ hàng</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top"
				data-bs-theme="dark">
				<div class="container-fluid">
					<a class="navbar-brand" th:href="@{/}">Logo</a>
					<button class="navbar-toggler" type="button"
						data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item dropdown"><a class="nav-link" href="#"
								data-bs-toggle="dropdown" aria-expanded="false">SẢN PHẨM MỚI</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Action</a> <a
										class="dropdown-item" href="#">Action</a> <a
										class="dropdown-item" href="#">Action</a>
								</div></li>
							<li class="nav-item dropdown"><a class="nav-link" href="#"
								data-bs-toggle="dropdown" aria-expanded="false">ADIDAS</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Action</a> <a
										class="dropdown-item" href="#">Action</a> <a
										class="dropdown-item" href="#">Action</a>
								</div></li>
							<li class="nav-item dropdown"><a class="nav-link" href="#"
								data-bs-toggle="dropdown" aria-expanded="false">NIKE</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Action</a> <a
										class="dropdown-item" href="#">Action</a> <a
										class="dropdown-item" href="#">Action</a>
								</div></li>
							<li class="nav-item dropdown"><a class="nav-link" href="#"
								data-bs-toggle="dropdown" aria-expanded="false">PUMA</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Action</a> <a
										class="dropdown-item" href="#">Action</a> <a
										class="dropdown-item" href="#">Action</a>
								</div></li>
							<li class="nav-item dropdown"><a class="nav-link" href="#"
								data-bs-toggle="dropdown" aria-expanded="false">SALE</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Action</a> <a
										class="dropdown-item" href="#">Action</a> <a
										class="dropdown-item" href="#">Action</a>
								</div></li>
							<li class="nav-item dropdown"><a class="nav-link" href="#"
								aria-expanded="false">TIN TỨC</a></li>
						</ul>
						<div class="d-flex" role="search">
							<input class="form-control me-2" type="search"
								placeholder="Search" aria-label="Search">
							<button class="btn btn-outline-success" type="submit">
								<i class="fa-solid fa-magnifying-glass"></i>
							</button>
						</div>
					</div>
				</div>
			</nav>
			<main>
				<div class="cart-view">
					<div class="my-cart">
						<h5>Giỏ hàng của bạn</h5>
						<table>
							<thead>
								<tr>
									<th>Sản phẩm</th>
									<th>Giá</th>
									<th>Số lượng</th>
									<th>Thành tiền</th>
								</tr>
							</thead>
							<tbody>
								<tr class="product-info" th:each="product : ${listItemCart}">
									<td>
										<div class="d-flex">
											<img th:src="${product.images[0].link}">
											<div>
												<p th:text="${product.brand}"></p>
												<a href="#" th:text="${product.productName}"></a>
												<div>
													Size: <!-- <span
														th:text="${#numbers.formatInteger(product.sizes[0].size,2)}"></span> -->
														<span
														th:text="${product.sizes[0].size}"></span>
												</div>
												<div>
													Màu sắc: <span th:text="${product.color}"></span>
												</div>
												<div>
													Giới tính: <span th:text="${product.type}"></span>
												</div>
											</div>
										</div>
									</td>
									<td class="price-item"
										th:text="${#numbers.formatDecimal(product.price,3,'POINT',0,'COMMA')}+đ">3.125.000đ</td>
									<td>
										<div class="buttons_added d-flex justify-content-center">
											<input class="minus is-form" type="button" value="-">
											<input aria-label="quantity" class="input-qty" max="100"
												min="1" name="quantityItem" type="number" value="1">
											<input class="plus is-form" type="button" value="+">
										</div>
									</td>
									<td class="total-price-item"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="delivery-info d-flex justify-content-between">
						<div class="customer-info">
							<h5>Thông Tin Người Nhận</h5>
							<div class="row">
								<div class="col">
									<label for="fullName" class="form-label">Họ và Tên</label> <input
										type="text" class="form-control" placeholder="Nhập Họ và Tên"
										id="fullName" th:value="${user.fullName}" name="fullName" > 
								</div>
								<div class="col">
									<label for="phone" class="form-label">Số điện thoại</label> <input
										type="text" class="form-control"  name="phone"
										placeholder="Nhập Số điện thoại" id="phone" th:value="${user.phone}">
								</div>
							</div>
							<div class="row">
								<div class="col">
									<label for="address" class="form-label">Địa chỉ</label> <input
										type="text" class="form-control" placeholder="Nhập Địa chỉ"
										id="address" th:value="${user.address}" name="address">
								</div>
							</div>
							<div class="row">
								<div class="col">
									<label for="email" class="form-label">Email</label> <input
										type="email" class="form-control" placeholder="Nhập Email"
										id="email" th:value="${user.email}" name="email">
								</div>
							</div>
						</div>
						<div>
							<div class="bill">
								<h5>Hóa đơn</h5>
								<table>
									<tbody>
										<tr>
											<td>Tổng giá trị sản phẩm:</td>
											<td class="total-all-item"></td>
										</tr>
										<tr>
											<td>Giảm giá</td>
											<td>0%</td>
										</tr>
										<tr>
											<td>Phí vận chuyển</td>
											<td class="delivery-fee">20.000đ</td>
										</tr>
										<tr>
											<td>Tổng hóa đơn</td>
											<td class="total-bill"></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="payment">
								<h5>Phương thức thanh toán</h5>
								<div class="form-check">
									<input class="form-check-input" type="radio"
										name="flexRadioDefault" id="flexRadioDefault1" checked>
									<label class="form-check-label" for="flexRadioDefault1">
										Thanh toán tiền mặt khi nhận hàng </label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio"
										name="flexRadioDefault" id="flexRadioDefault2"> <label
										class="form-check-label" for="flexRadioDefault2">
										Thanh toán bằng chuyển khoản </label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio"
										name="flexRadioDefault" id="flexRadioDefault3"> <label
										class="form-check-label" for="flexRadioDefault3">
										Thanh toán trực tuyến </label>
								</div>
							</div>
						</div>
					</div>
					<div class="btn-cart d-flex justify-content-center">
						<button class="add-cart-btn" type="button">
							<a th:href="@{/home}">TIẾP TỤC MUA HÀNG</a>
						</button>
						<button class="buy-now-btn" type="submit">
							TIẾN HÀNH ĐẶT HÀNG
						</button>
					</div>
				</div>
			</main>
			<footer>
				<div class="footer-content">
					<div class="d-flex justify-content-between">
						<div class="p-2">
							<h5>Về chúng tôi</h5>
							<ul class="navbar-nav">
								<li class="nav-item"><a href="#">Giới thiệu</a></li>
								<li class="nav-item"><a href="#">Hệ thống của hàng</a></li>
							</ul>
						</div>
						<div class="p-2">
							<h5>Hỗ trợ khách hàng</h5>
							<ul class="navbar-nav">
								<li class="nav-item"><a href="#">Chính sánh khách hàng</a></li>
								<li class="nav-item"><a href="#">Chính sách đổi trả</a></li>
								<li class="nav-item"><a href="#">Chính sách bảo hành</a></li>
								<li class="nav-item"><a href="#">Chính sách giao hàng</a></li>
								<li class="nav-item"><a href="#">Chính sách bảo mật</a></li>
								<li class="nav-item"><a href="#">Câu hỏi thường gặp</a></li>
							</ul>
						</div>
						<div class="p-2">
							<h5>Tuyển dụng</h5>
							<ul class="navbar-nav">
								<li class="nav-item"><a href="#">Tuyển dụng</a></li>
							</ul>
						</div>
						<div class="p-2">
							<h5>Địa chỉ - Liên hệ</h5>
							<ul class="navbar-nav">
								<li class="nav-item"><a href="#">Địa chỉ</a></li>
							</ul>
						</div>
						<div class="p-2">
							<h5>Kết nối với chúng tôi</h5>
							<ul class="navbar-nav">
								<li class="nav-item"><a href="#"><i
										class="fa-brands fa-tiktok"></i>Tiktok</a></li>
								<li class="nav-item"><a href="#"><i
										class="fa-brands fa-twitter"></i>Twitter</a></li>
								<li class="nav-item"><a href="#"><i
										class="fa-brands fa-youtube"></i>Youtube</a></li>
								<li class="nav-item"><a
									href="https://www.facebook.com/phuonganh.2407"><i
										class="fa-brands fa-facebook"></i>Facebook</a></li>
								<li class="nav-item"><a href="#"><i
										class="fa-brands fa-instagram"></i>Instagram</a></li>

								<li class="nav-item"><a href="#">Hotline: 19009191</a></li>
								<li class="nav-item"><a href="#">Email:
										cskhABC@gmai.com</a></li>
							</ul>
						</div>
					</div>
					<div class="d-flex justify-content-between">
						<div class="p-2 d-flex align-items-center">
							<span>Copyright © 2023 ABC</span>
						</div>
						<div class="p-2 d-flex align-items-center">
							<span> Thanh toán: <i class="fa-solid fa-money-bill"></i>
								<i class="fa-brands fa-cc-visa"></i> <i
								class="fa-brands fa-cc-mastercard"></i>
							</span>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</form>
	<script type="text/javascript" th:src="@{/js/navbar.js}"></script>
	<script type="text/javascript" th:src="@{/js/cart-page.js}"></script>
	<!-- 	<script src="/js/login.js"></script> -->
</body>

</html>