<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Tra cứu đơn hàng</title>
<!-- css -->
<!-- 	<link rel="stylesheet" href="/LAYOUT/CSS/check-order-page.css"> -->
<!-- 	<link rel="stylesheet" href="/LAYOUT/CSS/navbar.css"> -->
<link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/check-order-page.css}">

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
	integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- js -->
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
	crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/c39bd3b109.js"
	crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/cart-page.js}"></script>
<script type="text/javascript" th:src="@{/js/login.js}"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>

<body>
	<form th:action="@{/account/order}" method="get">
		<div class="body-container">
			<div class="top-bar">
				<div class="container-fluid">
					<div class="d-flex justify-content-between">
						<div>
							<ul class="topbar-left p-2">
								<li><span><i class="fa-solid fa-phone-volume"></i>Hotline:
										19009191</span></li>
							</ul>
						</div>
						<div>
							<ul class="topbar-right d-flex justify-content-end">
								<li class="p-2" th:unless="${session.username} == null"><a
									th:href="@{/check-order}"><span>Tra cứu đơn hàng</span></a></li>
								<li class="p-2" th:if="${session.username} == null"><a
									th:href="@{/login}"><span>Tra cứu đơn hàng</span></a></li>
								<li class="p-2 " th:if="${session.username} == null"><a
									th:href="@{/login}"><i class="fa-solid fa-user"></i><span>Đăng
											nhập</span></a></li>
								<li class="p-2 admin-menu"
									th:unless="${session.username} == null"><a><i
										class="fa-solid fa-user"></i><span
										th:text="${session.username}"></span></a></li>
								<li class="p-2"><a th:href="@{/cart}"><i
										class="fa-solid fa-cart-shopping"></i><span>Giỏ hàng</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top"
				data-bs-theme="dark">
				<div class="container-fluid">
					<a class="navbar-brand" th:href="@{/}">Logo</a>
					<button class="navbar-toggler" type="button"
						data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item dropdown"><a class="nav-link" href="#"
								data-bs-toggle="dropdown" aria-expanded="false">SẢN PHẨM MỚI</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Action</a> <a
										class="dropdown-item" href="#">Action</a> <a
										class="dropdown-item" href="#">Action</a>
								</div></li>
							<li class="nav-item dropdown"><a class="nav-link" href="#"
								data-bs-toggle="dropdown" aria-expanded="false">ADIDAS</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Action</a> <a
										class="dropdown-item" href="#">Action</a> <a
										class="dropdown-item" href="#">Action</a>
								</div></li>
							<li class="nav-item dropdown"><a class="nav-link" href="#"
								data-bs-toggle="dropdown" aria-expanded="false">NIKE</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Action</a> <a
										class="dropdown-item" href="#">Action</a> <a
										class="dropdown-item" href="#">Action</a>
								</div></li>
							<li class="nav-item dropdown"><a class="nav-link" href="#"
								data-bs-toggle="dropdown" aria-expanded="false">PUMA</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Action</a> <a
										class="dropdown-item" href="#">Action</a> <a
										class="dropdown-item" href="#">Action</a>
								</div></li>
							<li class="nav-item dropdown"><a class="nav-link" href="#"
								data-bs-toggle="dropdown" aria-expanded="false">SALE</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Action</a> <a
										class="dropdown-item" href="#">Action</a> <a
										class="dropdown-item" href="#">Action</a>
								</div></li>
							<li class="nav-item dropdown"><a class="nav-link" href="#"
								aria-expanded="false">TIN TỨC</a></li>
						</ul>
						<div class="d-flex" role="search">
							<input class="form-control me-2" type="search"
								placeholder="Search" aria-label="Search">
							<button class="btn btn-outline-success" type="submit">
								<i class="fa-solid fa-magnifying-glass"></i>
							</button>
						</div>
					</div>
				</div>
			</nav>
			<main>
				<div class="account-profile d-flex">
					<div class="container-left">
						<div class="account-info">
							<div class="account-info-item account-name">
								<a><i class="bi bi-person-circle"></i>Tên tài khoản</a>
							</div>
							<div class="account-info-item">
								<a th:href="@{/account/info}"><i class="fa-solid fa-user"></i>Thông
									tin tài khoản</a>
							</div>
							<div class="account-info-item">
								<a th:href="@{/account/order}"><i
									class="fa-solid fa-clipboard"></i>Tra cứu đơn hàng</a>
							</div>
							<div class="account-info-item">
								<a href="#"><i class="fa-solid fa-heart"></i>Sản phẩm yêu
									thích</a>
							</div>
							<div class="account-info-item">
								<a href="#"><i class="fa-solid fa-ticket"></i>Mã giảm giá</a>
							</div>
							<div class="account-info-item">
								<a th:href="@{/home}"><i class="fa-solid fa-house"></i>Quay
									về trang chủ</a>
							</div>
						</div>
					</div>
					<div class="container-right container-fluid">
						<h3>Tra cứu đơn hàng</h3>
						<div>
							<table class="table-order">
								<tbody>
									<tr>
										<th>Đơn hàng</th>
										<th>Ngày</th>
										<th>Tình trạng</th>
										<th>Tổng</th>
										<th>Tùy chọn</th>
									</tr>
									<tr>
										<td>YM252470</td>
										<td>26/04/2019</td>
										<td>Đơn hàng đã giao</td>
										<td>7.660.000đ</td>
										<td><button>
												<a th:href="@{/order/details}">Xem chi tiết</a>
											</button></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</main>
			<footer>
				<div class="footer-content">
					<div class="d-flex justify-content-between">
						<div class="p-2">
							<h5>Về chúng tôi</h5>
							<ul class="navbar-nav">
								<li class="nav-item"><a href="#">Giới thiệu</a></li>
								<li class="nav-item"><a href="#">Hệ thống của hàng</a></li>
							</ul>
						</div>
						<div class="p-2">
							<h5>Hỗ trợ khách hàng</h5>
							<ul class="navbar-nav">
								<li class="nav-item"><a href="#">Chính sánh khách hàng</a></li>
								<li class="nav-item"><a href="#">Chính sách đổi trả</a></li>
								<li class="nav-item"><a href="#">Chính sách bảo hành</a></li>
								<li class="nav-item"><a href="#">Chính sách giao hàng</a></li>
								<li class="nav-item"><a href="#">Chính sách bảo mật</a></li>
								<li class="nav-item"><a href="#">Câu hỏi thường gặp</a></li>
							</ul>
						</div>
						<div class="p-2">
							<h5>Tuyển dụng</h5>
							<ul class="navbar-nav">
								<li class="nav-item"><a href="#">Tuyển dụng</a></li>
							</ul>
						</div>
						<div class="p-2">
							<h5>Địa chỉ - Liên hệ</h5>
							<ul class="navbar-nav">
								<li class="nav-item"><a href="#">Địa chỉ</a></li>
							</ul>
						</div>
						<div class="p-2">
							<h5>Kết nối với chúng tôi</h5>
							<ul class="navbar-nav">
								<li class="nav-item"><a href="#"><i
										class="fa-brands fa-tiktok"></i>Tiktok</a></li>
								<li class="nav-item"><a href="#"><i
										class="fa-brands fa-twitter"></i>Twitter</a></li>
								<li class="nav-item"><a href="#"><i
										class="fa-brands fa-youtube"></i>Youtube</a></li>
								<li class="nav-item"><a href="#"><i
										class="fa-brands fa-facebook"></i>Facebook</a></li>
								<li class="nav-item"><a href="#"><i
										class="fa-brands fa-instagram"></i>Instagram</a></li>

								<li class="nav-item"><a href="#">Hotline: 19009191</a></li>
								<li class="nav-item"><a href="#">Email:
										cskhABC@gmai.com</a></li>
							</ul>
						</div>
					</div>
					<div class="d-flex justify-content-between">
						<div class="p-2 d-flex align-items-center">
							<span>Copyright © 2023 ABC</span>
						</div>
						<div class="p-2 d-flex align-items-center">
							<span> Thanh toán: <i class="fa-solid fa-money-bill"></i>
								<i class="fa-brands fa-cc-visa"></i> <i
								class="fa-brands fa-cc-mastercard"></i>
							</span>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</form>
	<script type="text/javascript" th:src="@{/js/navbar.js}"></script>
</body>

</html>